
.home_page {
  height: auto;
  width: auto;
  background-image: url("../images/backgrounds/h_img.jpg");

}

.home_page_text {
  text-align: center;
  color: white;
  margin-top: 400px;

}

.home_mouse {
  text-align: center;
  padding: 100px;

}

@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }

  30%{
    transform: scale(1,0.8) translate(0px, 10px);
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px);
  }

 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
      text-align:center;
      margin:0 auto;
      margin-top:100px;
      height:20px;
      width:150px;
      padding:20px;

     -webkit-animation: bounce 0.75s infinite;
}

.about_us {
  text-align: center;
  padding: 40px;
  line-height: 40px;
}

.services {
  text-align: center;
  background-image: url(../images/backgrounds/s_image.jpg);

  padding: 70px;
  color: white;
  line-height: 40px;
  height: auto;
  width: auto;

}

.what_we_do {
  text-align: center;
  padding: 20px;

}

.icons {
  text-align: center;
}



h3 {
font-size: 30px;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 20%;
    border: 3px solid white;
    display: none;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    color: weight;
}
.imagehover.hover{
    opacity: 0.3;
}





.contact_us {
  background-image: url(../images/backgrounds/c_image.jpg);
  text-align: center;
  color: white;

  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

}

.contact_form {
  text-align: center;




}

.contact-form {
  text-align: center;
  margin: 10px;

}

#message,
#email,
#name {
  background-color: transparent;
  color: white;
  border: 2px solid whitesmoke;
  padding: 2px;
}

::placeholder {
  color: white;

}


#name {
  width: 400px;


}

#email {
  width: 400px;

}

.footer {
  text-align: center;
  margin: auto;
  line-height: 10px;
}



.myform {
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  ;

}

.text_input {
  text-align: center;
  width: auto;
  float: center;
  resize: vertical;
}

.whatwedo1 {
  display: none;
}

.whatwedo2 {
  display: none;
}

.whatwedo3 {
  display: none;
}


.porttext{
  display: none;
}



body {
  background-color: inherit;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: inherit;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color:inherit;
  }
}
